pkgbase = scrt-sfx
	pkgdesc = Remote SSH Client
	pkgver = 8.3.4
	pkgrel = 1
	url = http://www.vandyke.com/products/securecrt/
	arch = x86_64
	license = custom
	depends = openssl-1.0
	depends = libpng12
	depends = qt4
	depends = glibc
	source = scrt-sfx-8.3.4.1699.ubuntu17-64.tar.gz
	md5sums = SKIP

pkgname = scrt-sfx

